html, body{
    font-size: 16px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@font-face{
    font-family: "Raleway";
    src: url("./../fonts/Raleway-Medium.ttf");
}

@font-face{
    font-family: "Pixel";
    src: url("./../fonts/Pixel.ttf");
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    margin: 0;
    height: 20%;
    text-align: center;
}

.body-section{
    padding: 1rem;
    padding-bottom: 5rem;
    display: grid;
    position: relative;
}

.footer-section{
    padding: 1rem;
    font-size: 10px;
    background-color: rgb(43, 43, 43);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
}

.social {
    position: absolute;
    margin: 1rem;
    right: 0rem;
    top: 0rem;
}

.social-icons {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

.drop-shadow{
    filter: drop-shadow(0px 0px 3px rgba(50,50,50,0.1));
}

.box-shadow{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.user-portal {
    margin-right: 1rem;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.7;
    color: white;
}

.btn {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 1rem;
    width: 100%;
}

.btn1 {
    background-image: url("./../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.btn2 {
    background-image: url("./../img/bg-grassland-sm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

.btn-login {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: rgb(56, 156, 56);
    color: white;
    width: 50%;
}

a:hover{
    cursor: pointer;
}

.table {
    font-size: 1vw !important;
}

@media(max-width: 768px){

    html, body {
        font-size: 12px;
    }

    h1 {
        font-size: 1rem;
    }

    .body-section {
        padding: 2rem;
        padding-top: 1rem;
    }

    .footer-section {
        font-size: 8px;
    }


}