html, body{
    font-size: 16px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

@font-face{
    font-family: "Raleway";
    src: url("./../fonts/Raleway-Medium.ttf");
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    margin: 0;
    height: 20%;
    text-align: center;
}

.body-section{
    padding: 5rem;
    display: grid;
    position: relative;
}

.footer-section{
    padding: 2rem;
    background-color: rgb(43, 43, 43);
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
}

.drop-shadow{
    filter: drop-shadow(0px 0px 3px rgba(50,50,50,0.1));
}

.box-shadow{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.coin-icon {
    z-index: 999;
    color: rgb(255, 166, 94);
    margin-right: .5rem;
}

.coin-icon:hover {
    cursor: pointer;
    opacity: .7;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.btn {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    width: 100%;
}

.btn1 {
    background-image: url("./../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

@media(max-width: 768px){
    h1 {
        font-size: 1rem;
    }

    .body-section {
        padding: 2rem;
    }
}