<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/leet.css">
    <link rel="stylesheet" href="./css/all.css">
    <link rel="stylesheet" href="./css/game.css">
    <script src="./js/rank.js"></script>
    <title>Star Collector Mini Game</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="index.html" class="navbar-brand">
            <img src="./img/logo-sm.png" alt="BBFISH" width="30px" height="30px">
            <span style="margin-left: 1rem">THE TOWN</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="leet.html" class="nav-link">LeetCode</a>
                </li>
                <li class="nav-item">
                    <a href="shop.html" class="nav-link">Shop</a>
                </li>
                <li class="nav-item">
                    <a href="profile.html" class="nav-link">Profile</a>
                </li>
                <li class="nav-item active">
                    <a href="game.html" class="nav-link">Game</a>
                </li>
            </ul>
        </div>
        <div class="user-portal">
            <a id="user-portal" href="login.html" style="color: #49c267 !important;" style="display: none;"><i class="fas fa-user-lock"></i></a>
            <a id="signout" style="color: #ff7b82 !important; display: none;"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>


    <div class="body-section">
        <div class="game-body">
            <div class="game-rule">
                <h5 style="color: greenyellow;">Game Rules:</h4>
                <p>Welcome to star collector. In this game, you will control the small boy to collect all the stars</p>
                <p>Hit <b style="color: rgb(243, 129, 129);">"START"</b> to start the game!</p>
                <p>Press <b style="color: rgb(245, 245, 115);">"UP"</b> or <b style="color: rgb(245, 245, 115);">"SPACE"</b> to jump!</p>
                <p>Press <b style="color: rgb(245, 245, 115);">"LEFT"</b> to go left.</p>
                <p>Press <b style="color: rgb(245, 245, 115);">"RIGHT"</b> to go right.</p>
                <p>Game will be more and more difficult as bombs are being generated. Be careful not to hit the bomb!</p>
                <p>There is a <b style='color: pink'>HEART</b> that helps our small boy to jump higher! Use it wisely 😊</p>
                <p>Small boy catches one star will <b>+10</b> points. If star is caught by the heart, <b>+20</b>!</p>
                <p><b>See the ranking on the right to compare with your friends!</b></p>
            </div>
            <div class="game-frame">
                <iframe src="./starCollector.html" frameborder="2" width="100%", height="100%">Game Not Available!</iframe>
            </div>
            <div class="ranking">
                <div class="my-rank" id="myRank">
                    <p><b style="color:rgb(255, 251, 7)e">Name: {{myName}}</b></p>
                    <p>My Rank : <b style="color: #ff5b5b; font-size: 1.2vw;"><em><span>{{myRank}}</span></em></b></p>
                </div>
                <div class="global-rank">
                    <p><b>Top 20 Players</b></p>
                    <table class="table table-dark table-sm table-responsive" style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">Rank</th>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody id="ranking">
                            <tr v-for="(player, index) in players">
                                <td v-if="myName==player.name" class="table-danger" style="color: rgb(121, 0, 0);">{{index+1}}</td>
                                <td v-else>{{index+1}}</td>

                                <td v-if="myName==player.name" class="table-danger" style="color: rgb(121, 0, 0);">{{player.name}}</td>
                                <td v-else>{{player.name}}</td>

                                <td v-if="myName==player.name" class="table-danger" style="color: rgb(121, 0, 0);">{{player.score}}</td>
                                <td v-else>{{player.score}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="rank-info">
                        <div v-if="isGuest" class="rank-info" >
                            <em>Want to have your score permanently recorded and updated? Have a quick <a href="signup.html">sign up now!</a></em>
                        </div>
                        <div v-else="isGuest" class="rank-info">
                            <em style="color: #49c267;">You are signed in! Your score will be permanently stored! Have fun!</em>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>


    <div class="footer-section">
        <p>Li Yuxuan @ 2020 All Rights Reserved</p>
        <div class="social">
            <span>Check out my GitHub | LinkedIn</span>
            <div class="social-icons">
                <a href="https://github.com/xmliszt" style="color: white; margin-right: 1rem;"><i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/li-yuxuan/" style="color: white;"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC6SFUbS3UHxY9mD3u8a8j_T9Nixi4Dg-Y",
        authDomain: "bbfish-town.firebaseapp.com",
        databaseURL: "https://bbfish-town.firebaseio.com",
        projectId: "bbfish-town",
        storageBucket: "bbfish-town.appspot.com",
        messagingSenderId: "808191526396",
        appId: "1:808191526396:web:b5e6bc2feab12979c35e79",
        measurementId: "G-M4TZVEYVDX"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
</body>
</html>