<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/leet.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/all.css">
    <title>User Signup</title>
</head>
<body>
    <div class="void-space"></div>
    <div class="login-container" id="signup">
        <div class="login-card box-shadow">
            <div class="close-btn"><a href="login.html" style="color: black;"><i class="far fa-times-circle"></i></a></div>
            <h1 style="margin-bottom: 3rem;">Signup</h1>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="first-addon">First Name</span>
                </div>
                <input id="firstName" type="text" class="form-control" placeholder="first name (optional)" aria-label="firstName" aria-describedby="first-addon">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="last-addon">Last Name</span>
                </div>
                <input id="lastName" type="text" class="form-control" placeholder="last name (optional)" aria-label="lastName" aria-describedby="last-addon">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="username-addon">Username</span>
                </div>
                <input v-model="username" id="username" type="text" class="form-control" placeholder="username" aria-label="username" aria-describedby="username-addon">
            </div>
            <div id="username-success" class="alert alert-success" style="display: none;"></div>
            <div id="username-alert" class="alert alert-danger" style="display: none;"></div>
            <div class="input-group mb-3">
                <input v-model="password" id="password" type="password" class="form-control" placeholder="password">
            </div>
            <div id="password-success" class="alert alert-success" style="display: none;"></div>
            <div id="password-alert" class="alert alert-danger" style="display: none;"></div>
            <div class="input-group mb-3">
                <input v-model="repeat" id="password" type="password" class="form-control" placeholder="repeat password">
            </div>
            <div id="repeat-success" class="alert alert-success" style="display: none;"></div>
            <div id="repeat-alert" class="alert alert-danger" style="display: none;"></div>
            <p style="color: grey">Your password is encrypted using PBKDF2 on AES over 100 iterations to ensure security.</p>
            <div id="alert-msg" class="alert alert-danger" style="display: none;"></div>
            <button type="button" class="btn btn-login" id="signup-btn">Sign Up</button>
        </div>
    </div>

    <div class="void-space"></div>
    <div class="void-space"></div>

    <div class="footer-section">
        <p>Li Yuxuan @ 2020 All Rights Reserved</p>
        <div class="social">
            <span>Check out my GitHub | LinkedIn</span>
            <div class="social-icons">
                <a href="https://github.com/xmliszt" style="color: white; margin-right: 1rem;"><i class="fab fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/li-yuxuan/" style="color: white;"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <script src="./js/signup.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyC6SFUbS3UHxY9mD3u8a8j_T9Nixi4Dg-Y",
        authDomain: "bbfish-town.firebaseapp.com",
        databaseURL: "https://bbfish-town.firebaseio.com",
        projectId: "bbfish-town",
        storageBucket: "bbfish-town.appspot.com",
        messagingSenderId: "808191526396",
        appId: "1:808191526396:web:b5e6bc2feab12979c35e79",
        measurementId: "G-M4TZVEYVDX"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    </script>
</body>
</html>